{{ $participating_members := slice }}
{{ $strategic_members := slice }}

{{ range .data.members }}
    {{ if eq (index .levels 0).level "SD" }}
        {{ $strategic_members = $strategic_members | append . }}
    {{ else }}
        {{ $participating_members = $participating_members | append . }}
    {{ end }}
{{ end }}

<div class="members-section">
    <p class="h3 margin-bottom-20">{{ .data.text }}</p>
    <h3 class="h4">Strategic Members</h3>
    <ul class="list-inline members-section-list">
        {{ range $strategic_members }}
            <li class="members-list-item margin-10">
                <a class="members-list-item-logo-wrapper" href="{{ .website }}">
                    <img class="members-list-item-logo" alt="{{ .name }}" src="{{ .logos.web }}" />
                </a>
            </li>
        {{ end }}
    </ul>

    <h3 class="h4">Participating Members</h3>
    <ul class="list-inline members-section-list">
        {{ range $participating_members }}
            <li class="members-list-item margin-10">
                <a class="members-list-item-logo-wrapper" href="{{ .website }}">
                    <img class="members-list-item-logo" alt="{{ .name }}" src="{{ .logos.web }}" />
                </a>
            </li>
        {{ end }}
    </ul>
</div>